{% extends "foods/base.html" %}
    {% block content %}
        <artice class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="text-left mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                    {% if object.author == user %}
                        <a class="btn btn-danger mt-1 mb-1" href="{% url 'foods-delete' object.id %}">Delete</a>
                        <a class="btn btn-secondary mt-1 mb-1" href="{% url 'foods-update' object.id %}">Update</a>
                    {% endif %}
                </div>
                <h2 class="article-title"> {{ object.food }} </h2>
                <ul>
                    <p>Added: {{object.add_date|date:"d-m-Y"}}</p>
                    <p>Expires: {{object.exp_date|date:"d-m-Y"}}</p>
                    <p>Is opened: {{object.opened}}</p>
                    <p>Opened: {{object.opened_date}}</p>
                    <p>Quantity: {{object.quantity}}</p>
                    <p>Price: {{object.price}}</p>
                </ul>
            </div>
        </artice>
    {% endblock content %}
