{% extends "foods/base.html" %}
    {% block content %}
    <h1 class="mb-3">{{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for food in latest_food_added %}
        <article class="media content-section">
            <div class="media-body">
                <div>
                    <p class="mr-2">{{ food.author }}</p>
                </div>
                <h2><a class="article-title" href="{% url 'foods-detail' food.id %}">{{ food.food }}</a></h2>
                <small class="text-muted">
                    <ul>
                        Expiry date: {{ food.exp_date|date:"F d, Y" }}
                    </ul>
                    {% if food.opened == True %}
                        <ul>
                            Opened: {{ food.opened_date}}
                        </ul>
                    {% endif %}
                </small>
            </div>
        </article>
    {% endfor %}

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">&lt;&lt; First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">&lt; Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next &gt;</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last &gt;&gt;</a>
            {% endif %}

        {% endif %}
    {% endblock content %}
